


.main_div{
    width: 100%;
    height: auto;

    align-items: center;
    text-align: center;
}

.dataTable{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;

    border: 1px solid rgb(172, 172, 172);
    border-collapse: collapse;

    white-space:nowrap; 
	overflow-x:scroll;
}

.dataTable th{
    height: 30px;

    color: white;
    background-color: #006AFF;

    border: 1px solid rgb(172, 172, 172);;
    border-collapse: collapse;

    text-align: center;
}


.dataTable td{
    height: 30px;

    border: 1px solid rgb(172, 172, 172);;
    border-collapse: collapse;

    text-align: center;
}


/* tbody 2n line color */
.dataTable tbody tr:nth-child(2n) {
    background-color: #accfff;
}

/* tbody 2n+1 line color */
.dataTable tbody tr:nth-child(2n+1) {
    background-color: #d8e8ff;
}

.error{
    margin: auto 0;
    margin-top: 15px;

    font-size: 20px;
    color: red;
    font-weight: bold;
    text-align: center;
}